.header{
    background-image: linear-gradient(to right, #f1f5f9, #fff);
    pad: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.flag{
    width: 24px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

.flag:first-of-type{
    margin-left: auto;
}

.flag img{
    width: 100%;
}